<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增模版</title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <style>
        body{padding: 30px;}
    </style>
</head>
<body>



<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
  <legend>创建模版</legend>
</fieldset>

<form class="layui-form" id="BaseForm" name="BaseForm" action="">


    <div class="layui-form-item">
    <label class="layui-form-label">容器名</label>
        <div class="layui-input-block">
          <input class="layui-input" id="id_name" lay-verify="required" name="name" type="text" />
        </div>
    </div>


    <div class="layui-form-item">
    <label class="layui-form-label">额外参数</label>
        <div class="layui-input-block">
            <input id="publish_all_ports" name="publish_all_ports" type="checkbox" title="端口随机"/>
            <input id="privileged" name="privileged" type="checkbox" title="超级权限"/>
            <input id="network_mode" name="network_mode" type="checkbox" title="Host模式"/>
        </div>
    </div>


    <div class="layui-form-item">
    <label class="layui-form-label">命令</label>
        <div class="layui-input-block">
          <input class="layui-input" id="id_command" name="command" type="text" />
        </div>
    </div>

    {% for field in form %}
    <div class="layui-form-item">
    <label class="layui-form-label">{{ field.label }}</label>
        <div class="layui-input-block">
          {{ field }}
        </div>
    </div>
    {% endfor %}


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">提交</button>
        </div>
    </div>
</form>

</body>

<script src="/static/plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'jquery'], function(){
    var form = layui.form(),
            $ = layui.jquery,
            laydate = layui.laydate;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //监听提交
    form.on('submit(*)', function(data){
        $.ajax({
          type: "post",
          url: "{{ api_url }}",
          data: data.field,
          async: false,
          dataType: 'json',
          success: function(data){
              if( data.result =="failure" )
              {
                  layer.alert(data.code);
              }else{
                  parent.layer.close(index);
                  parent.location.reload()

              }
          }
        });
        return false;
    });
});

</script>
</html>